.error-box {
    width: 100%;
    height: 100px;
    text-align: center;
    margin:200px auto;
}

.error {
    color:red;
    font-size:40px;
    margin:0 auto;
}

.error-text {
    color:red;
    font-size:20px;
    margin:0 auto;
}