.search-page {
    width: 1200px;
    height: auto;
    margin: 61px auto;
    display: table;
    padding-bottom: 11px;
}

.search-page h4 {
    color: #ff9900;
}

@media only screen and (max-width: 1024px) {
    .search-page {
        width: 950px;
    }
}

@media only screen and (max-width: 812px) {
    .search-page {
        width: 750px;
    }
}

@media only screen and (max-width: 740px) {
    .search-page {
        width: 710px;
    }
}

@media only screen and (max-width: 720px) {
    .search-page {
        width: 700px;
    }
}

@media only screen and (max-width: 667px) {
    .search-page {
        width: 650px;
    }
}

@media only screen and (max-width: 640px) {
    .search-page {
        width: 310px;
    }
}

@media only screen and (max-width: 414px) {
    .search-page {
        width: 385px;
    }
}

@media only screen and (max-width: 375px) {
    .search-page {
        width: 365px;
    }
}

@media only screen and (max-width: 360px) {
    .search-page {
        width: 330px;
    }
}
